<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">
	<http auto-config="true"> 
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" /> 
		<intercept-url pattern="/limited/**" access="ROLE_ADMIN" />
		<form-login login-page="/public/login.jsf" 
			always-use-default-target="true" 
			default-target-url="/limited/main.jsf"
			authentication-failure-url="/public/login.jsf?login_error=1" />
		<logout/> 
		<remember-me /> 
	</http>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="financialDataSource" 
				authorities-by-username-query="SELECT u.login, p.permission
																	FROM user u, user_permission p 
																	WHERE u.code = p.user AND u.login = ?"
				users-by-username-query="SELECT login, password, active FROM user WHERE login = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>
