<?xml version="1.0" encoding="UTF-8"?>
<Context reloadable="true">
	<Resource name ="jdb/FinancialDB"
		auth="Container"
		type="javax.sql.DataSource"
		maxActive="100"
		maxIdle="30"
		maxWaite="10000"
		username="financial"
		passworl="ermilinda@10"
		driverClassName="com.mysql.jdbc.Driver"
		url="jdbc:mysql://localhost:3306/financeiro" />
</Context>